body{
    text-align: center;
    background-color: #fff9ed;
}
summary{
    cursor: pointer;
}
#parent{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 90px auto 0px;
}
#popup{
    border:2px solid #ccc;
    width: 300px;
    display: block;
    margin: 5px auto;
    text-align: left;
    padding: 20px;
    resize: both;
    overflow: auto;
}
#GoToMenu{
    padding: 10px;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
}
#GoToHome{
    padding: 10px;
    background-color: #fff;
    border-radius: 20px;
    margin: 0;
    cursor: pointer;
}
.child{
    text-align: left;
    border: 2px solid black;
    border-radius: 20px;
    width: 450px;
    height: 300px;
    margin: 20px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
}
.child img{
    height: 100px;
    border-radius: 20px;
    margin: 10px 20px 0px;
}
.child .side{
    display: inline;
    padding: 0 20px;
    font-size:x-large;
}
.child .bottom{
    font-size: large;
    margin: 20px;
}
.child button{
    display: block;
    padding: 20px 40px;
    background-color: #fff;
    margin: 40px auto;
    border-radius: 20px;
    transition: background-color 0.5s;
}
.child button:hover{
    background-color: #0f0;
    cursor: pointer;
}